/* Trying to recreate the coding that I had already done. Very frustrated with w3spaces right now. */

.sheet {
	float: right;
	margin: 10px 50px;
	border: solid;
	border-color: #a81d1d;
	border-radius: 10px;
}

.addie {
	float: left;
	margin: 30px 100px;
	border: ridge;
	border-color: #31c46a;
	border-radius: 50px;
}

.skills {
	float: right;
	margin: 5px 50px;
	border: inset;
	border-color: #5a32a8;
	border-radius: 20px;
}

.fullsheet {
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 40px;
}

footer {
	background-image: url(images/footerdragon.png);
	background-size: cover;
	background-repeat: no-repeat;
	border: 2px outset blue;
	color: white;
	min-height: 400px;
}

footer a {
	color: white;
}

/* Working on adding images to grid */

.specieswrapper {
	background-image: url(images/starsinspace.jpg);
	background-position: center;
	background-repeat: repeat
}

.headimage {
	background-image: url(images/headerimage.png);
		  background-position: center;
		  background-size: cover;
		  background-repeat: no-repeat;
}
.aasimar { 
	background-image: url(images/aasimar.jpg);
		  background-position: center;
		  background-size: cover;
		  background-repeat: no-repeat;
		 }

.dragonborn { 
	background-image: url(images/dragonborn.jpg);
		  background-position: top;
		  background-size: cover;
		  background-repeat: no-repeat;
		 }

.dwarf { 
	background-image: url(images/dwarf.jpg);
		  background-position: top;
		  background-size: cover;
		  background-repeat: no-repeat;
		 }

.elf { 
	background-image: url(images/elf.jpg);
		  background-position: top;
		  background-size: cover;
		  background-repeat: no-repeat;
		 }

.gnome { 
	background-image: url(images/gnome.jpg);
		 background-position: center top;
		  background-size: cover;
		  background-repeat: no-repeat;
		 }

.goliath { 
	background-image: url(images/goliath.jpg);
		  background-position: center;
		  background-size: cover;
		  background-repeat: no-repeat;
		 }

.halfling { 
	background-image: url(images/halfling.jpg);
		  background-position: top;
		  background-size: cover;
		  background-repeat: no-repeat;
		 }

.human { 
	background-image: url(images/human.jpg);
		 background-position: top;
		  background-size: cover;
		  background-repeat: no-repeat;
		 }

.orc { 
	background-image: url(images/orc.jpg);
		  background-position: top;
		  background-size: cover;
		  background-repeat: no-repeat;
		 }

.tiefling { 
	background-image: url(images/tiefling.jpg);
		  background-position: top;
		  background-size: cover;
		  background-repeat: no-repeat;
		 }

.speciesother {
	background-image: url(images/otherspecies.png);
		  background-position: top;
		  background-size: cover;
		  background-repeat: no-repeat;
}
