/* Added a border around the title with a margin and padding, changed to the closest font to D&D I could find in Google font resource */


h1 {
  text-align: center;
  text-transform: uppercase;
  color: #a81818;
  font-family: "Girassol", serif;
  border: medium solid white;
  margin: 50px 25px;
  padding: 30px 15px;
}

/*Changed the font, and removed the background color. */
h2 {
  font-family: "Libre Baskerville", serif;
}


/* Added line height to make the large blocks of text easier to read, changed the font, and removed the background color.*/
p {
  font-family: "Baskervville", serif;
  font-size: large;
  line-height: 1.5;
}

a:link { color: #1b82d1; }
a:visited { color: #118f48; }
a:hover { color: #b01010; }
a:active { color: #f0f032; }


.specieswrapper {
    display: grid;
    align-content: center;
    
    grid-template-areas:
        'headimage headimage headimage headimage headimage'
        'aasimar aasimar dragonborn dragonborn dragonborn'
        'aasimar aasimar dragonborn dragonborn dragonborn'
        'aasimar aasimar dwarf dwarf dwarf'
        'aasimar aasimar dwarf dwarf dwarf'
        'elf elf elf goliath goliath'
        'elf elf elf goliath goliath'
        'elf elf elf goliath goliath'
        'elf elf elf goliath goliath'
        'elf elf elf goliath goliath'
        'elf elf elf goliath goliath'
        'elf elf elf goliath goliath'
        'elf elf elf goliath goliath'
        'elf elf elf goliath goliath'
        'gnome gnome gnome goliath goliath'
        'gnome gnome gnome goliath goliath'
       'gnome gnome gnome goliath goliath'
       'gnome gnome gnome goliath goliath'
       'gnome gnome gnome goliath goliath'
       'gnome gnome gnome goliath goliath'
        'halfling halfling human human human'
        'halfling halfling human human human'
        'orc orc orc tiefling tiefling'
        'orc orc orc tiefling tiefling'
        'speciesother speciesother speciesother speciesother speciesother';
    margin-top: 40px;  
    padding: 20px;
    gap: 10px;
    background-color: #9d0404c6
}

.specieswrapper > div {
        font-family: "Girassol", serif;
        font-size: 48px;
        align-items: end;
}

  
.headimage { grid-area: headimage;}
.aasimar {grid-area: aasimar;}
.dragonborn {grid-area: dragonborn;}
.dwarf {grid-area: dwarf;}
.elf {grid-area: elf;}
.gnome {grid-area: gnome;}
.goliath {grid-area: goliath;}
.halfling {grid-area: halfling;}
.human {grid-area: human;}
.orc {grid-area: orc;}
.tiefling {grid-area: tiefling;}
.speciesother {grid-area: speciesother;}
